.contact {
  margin-bottom: 1.5em !important;
}

.expertise .label {
  margin: 1px !important;
}

.expertise .divider {
  font-size: smaller !important;
}

body {
  font-family: 'Century Gothic', CenturyGothic,
  AppleGothic, Tahoma, Verdana, Segoe, sans-serif !important;
}

.ui.section.divider {
  margin: 0.0em !important;
}

.ui.horizontal.divider {
  margin: 1.2em;
}

/*.period {
  float: right;
  font-weight: normal;
  font-size: small;
}*/

img.logo {
  width: 100%;
  max-width: 6em;
  min-width: 3em;
  height: auto;
}

.row.job.title {
  margin-top: 1em;
}

.row.job.description {
  padding: 0.2em 0em 0em 1em;
}

.data {
  visibility: hidden;
  display: none;
}

/* ------------------------------------------------- */
/* BibBase
*/

#group_article div.bibbase_group i+span { display: none; }
#group_inproceedings div.bibbase_group i+span { display: none; }
#group_mastersthesis div.bibbase_group i+span { display: none; }
#group_phdthesis div.bibbase_group i+span { display: none; }
#group_techreport div.bibbase_group i+span { display: none; }
#group_unpublished div.bibbase_group i+span { display: none; }
#group_incollection div.bibbase_group i+span { display: none; }

#group_article div.bibbase_group i:after { content: " Journal Articles" }
#group_inproceedings div.bibbase_group i:after { content: " Conference and Workshop Publications" }
#group_mastersthesis div.bibbase_group i:after { content: " Master's Thesis" }
#group_phdthesis div.bibbase_group i:after { content: " PhD Thesis" }
#group_techreport div.bibbase_group i:after { content: " Technical Report" }
#group_unpublished div.bibbase_group i:after { content: " Unpublished" }
#group_incollection div.bibbase_group i:after { content: " In Collection" }


/* ------------------------------------------------- */

@media screen {

  body {
    background-color: rgb(217, 217, 217) !important;
  }

  .wrap>.row {
    margin-top: 3em;
  }

  .wrap {
    max-width: 60em;
    background-color: #ffffff;
    margin: 20px auto 20px auto;
    padding: 5%;
    border: 1px solid #bbb;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(120,120,120,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(120,120,120,1);
    box-shadow: 0px 1px 1px 0px rgba(120,120,120,1);
  }
}

/* ------------------------------------------------- */

/*@media screen and (max-width: 400) {

  .wrap>.row {
    margin-top: 3em;
  }

  .wrap {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
  }
}*/

/* ------------------------------------------------- */

@page {
  orphans: 3;
  widows: 3;

  /* this affects the margin in the printer settings */
  margin: 25mm 25mm 25mm 25mm;
}

@media print {

  body {
    background-color: #fff;
  }

  .wrap>.row {
    margin-top: 2em;
  }

  div.bibbase_paper {
    page-break-inside: avoid !important;
  }

  .wrap {
    background-color: #ffffff;
    margin: 0mm;
    padding: 0mm;
  }

  .ui.grid>.row>.column {
    display: block;
  }

  a:link, a:visited { color: #000; }
  hr { color: transparent; }
  .noprint { display: none; }

  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

  img.logo {
    width: 50%;
    min-width: 3em;
    height: auto;
  }

}
